body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f7d7e;
  }
  #container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fffdd1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1, h2 {
    text-align: center;
  }
  .question {
    margin-bottom: 20px;
  }
  .options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(211,54,73,0.5);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(211,54,73);
  }
  